@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");

/* PRINCIPAL */

:root {
  --amarelo1: #ddb437;
  --amarelo2: #a78318;
  --marrom2: #734002;
  --pretointenso: rgb(8, 8, 8);
  --preto: rgb(20, 20, 20);
  --vermelho1: rgb(187, 69, 23);
  --vermelho2: rgb(196, 108, 25);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: white;
  box-sizing: border-box;
  font-size: 1rem;
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--preto);
}

/* MENU */

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pretointenso);
  padding: 0.7em 0em;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 1em;
  color: white;
}

.nav-link {
  font-size: 0.7rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.6em 1em;
  transition: 0.25s;
}

.nav-link:hover {
  color: var(--amarelo1);
  text-decoration: underline;
}

/* BACKGROUND */

.bg {
  background-image: url("../img/bg02.jpg");
  background-size: cover;
}

.bg-02 {
  background-image: url("../img/bg01.jpg");
  height: 340px;
}

.bg-03 {
  background-image: url("../img/bg03.jpg");
  height: 340px;
}

/* HEADER */

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container---title {
  width: 90%;
  font-family: "Merriweather", serif;
  padding: 7em 0em;
  text-align: center;
}

.header-container---title h1 {
  font-family: "Merriweather", serif;
  font-size: 2.75rem;
  font-weight: 900;
  color: var(--amarelo1);
  text-shadow: 0px 0px 8px var(--marrom2), 0px 0px 8px var(--marrom2),
    0px 0px 8px var(--marrom2), 0px 0px 8px var(--marrom2),
    0px 0px 8px var(--marrom2);
}

.header-container---title p {
  color: var(--amarelo1);
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: 0px 0px 5px var(--marrom2), 0px 0px 5px var(--marrom2),
    0px 0px 5px var(--marrom2), 0px 0px 5px var(--marrom2),
    0px 0px 5px var(--marrom2), 0px 0px 5px var(--marrom2),
    0px 0px 5px var(--marrom2), 0px 0px 5px var(--marrom2);
}

/* MAIN */

section {
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.7);
}

article {
  width: 90%;
  padding: 6em 0em;
  max-width: 900px;
  margin: auto;
}

.title {
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  color: var(--amarelo1);
}

.title---subtext {
  margin-bottom: 2em;
}

#container-array {
  outline: 2px dotted white;
  min-height: 50px;
  margin: 1em 0em;
}

.container-inputs {
  display: flex;
  margin: 0.5em 0em;
  flex-direction: column;
  align-items: center;
}

input[type="number"] {
  color: var(--pretointenso);
  width: 100%;
  max-width: 400px;
  margin-top: 0.1em;
  margin-bottom: 0.5em;
  border-radius: 5px;
  border: transparent;
  padding: 0.1em 0em;
  text-indent: 8px;
}

label {
  font-size: 0.7rem;
}

/* BOTÕES */

#orc-enviar,
#orc-enviar2,
#orc-enviar3 {
  font-family: "Merriweather", serif;
  width: 150px;
  margin: auto;
  margin-top: 0.2em;
  margin-bottom: 1em;
  padding: 0.25em 0em;
  color: var(--preto);
  border-radius: 100px;
  background-color: var(--amarelo1);
  border: transparent;
  transition: 0.25s;
  cursor: pointer;
}

#orc-enviar:hover,
#orc-enviar2:hover,
#orc-enviar3:hover,
#orc-finalizar:hover {
  background-color: var(--amarelo2);
}

#orc-finalizar {
  font-family: "Merriweather", serif;
  margin-top: 0.2em;
  margin-right: 0.5em;
  margin-bottom: 1em;
  padding: 0.25em 1em;
  color: var(--preto);
  border-radius: 100px;
  background-color: var(--amarelo1);
  border: transparent;
  transition: 0.25s;
  cursor: pointer;
}

#orc-del-last,
#orc-del {
  font-family: "Merriweather", serif;
  margin-right: 0.5em;
  margin-top: 0.2em;
  margin-bottom: 1em;
  padding: 0.25em 1em;
  color: var(--amarelo1);
  border-radius: 100px;
  background-color: var(--preto);
  border: 1px solid var(--amarelo1);
  transition: 0.25s;
  cursor: pointer;
}

#orc-del-last:hover,
#orc-del:hover {
  color: var(--vermelho1);
  border: 1px solid var(--vermelho1);
}

#orc-botoes-final {
  display: flex;
  flex-direction: row;
}

/* CALCULADORA */

#calculadora {
  width: 90%;
  max-width: 400px;
  margin: auto;
}

input[type="text"] {
  width: 100%;
  color: var(--preto);
  text-align: right;
  padding: 0.6em 0.5em;
  border-radius: 5px;
  border: transparent;
}

.calc-row {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.calc-num,
.calc-erase,
.calc-clear,
.calc-eq {
  width: 100%;
  font-family: "Merriweather", serif;
  font-weight: 900;
  color: var(--preto);
  background-color: var(--amarelo1);
  border: transparent;
  padding: 0.8em 0em;
  border-radius: 5px;
  transition: 0.25s;
  cursor: pointer;
}

.calc-erase,
.calc-clear,
.calc-eq {
  background-color: var(--vermelho2);
}

.calc-num:hover {
  background-color: var(--amarelo2);
}

.calc-erase:hover,
.calc-clear:hover,
.calc-eq:hover {
  background-color: var(--vermelho1);
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  background-color: var(--pretointenso);
}

footer p {
  text-align: center;
  font-size: 0.7rem;
  color: white;
  width: 90%;
  padding: 0.6em 1em;
}

#footer-link {
  font-size: 0.7rem;
  text-decoration: none;
}

#footer-link:hover {
  color: var(--amarelo1);
  text-decoration: underline;
}

/* JS */

#textoarray {
  padding: 1em 2em;
  line-height: 2em;
}

.textoresultado {
  font-family: "Merriweather", serif;
  color: var(--preto);
  padding: 1em;
}

.fundolaranja {
  background-color: var(--amarelo1);
  border-radius: 15px;
}

.fundovermelho {
  background-color: var(--vermelho1);
  border-radius: 15px;
}

@media screen and (max-width: 500px) {
  #orc-botoes-final {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #orc-finalizar,
  #orc-del,
  #orc-del-last {
    width: 60%;
  }
}
